header {
  height: 525px;
  width: 100%;
  background-image: url(https://wizardofspa.files.wordpress.com/2013/04/awesomely-ocean-waves.jpg);
}

.overlay {
  z-index: 1;
  background: rgba(20,111,179,0.8);
  height: 525px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

nav {
  color: $navy;
  height: 10%;
  font-size: 18px;
  padding-top: 16px;
  text-align: right;
  margin: auto;
  width: 78%;
  display: block;
  ul {
    vertical-align: middle;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  li {
    display: inline-block;
  }

  #search-bar {
    font-family: $oswald;
    list-style-type: none;
    li {
      margin-left: 12px;
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.1);
        padding: 10px;
      }
    }
    img {
      margin-left: -6px;
      padding-left: 0;
      height: 16px;
    }
  }

  #logo-bar {
    float: left;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  #wave-logo {
    @include circle(45px);
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
    img {
      width: 100%;
    }
  }

}

#title {
  position: relative;
  top: 24%;
  left: 0;
  width: 100%;
  margin: auto;
  font-size: 100px;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  opacity: 1;
  text-align: center;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

#subtitle {
  position: relative;
  top: 21%;
  left: -8px;
  width: 100%;
  margin: auto;
  font-size: 15px;
  color: $navy;
  opacity: 1;
  text-align: center;
}
