.maincontent {
  width: 62%;
  display: inline-block;
  h1 {
    line-height: 72px;
    font-family: $oswald;
    font-size: 66px;
    margin-bottom: 10px;
    margin-top: 0;
    color: $navy;
  }
  h3 {
    color: $blue;
    padding: 4px;
    margin: 0 0 10px;
    font-size: 14px;
    display: inline-block;
  }
  h2 {
    transition: all .2s ease-in-out;
    color: $blue;
    border-left: $grey solid 2px;
    padding: 10px;
    margin: 5px;
    font-size: 25px;
    &:hover {
      transform: scale(1.1);
    }
  }
  p a {
    text-decoration: underline;
  }
}

.author {
  display: inline-block;
  width: 22%;
  margin-left: 1%;
}

.photoicon {
  @include circle(22px);
  vertical-align: middle;
  display: inline-block;
  background-color: $blue;
  img {
    @include circle(22px);
    display: inline-block;
    &:hover {
      opacity: .5;
    }
  }
}

.date {
  display: inline-block;
  color: $grey;
  font-size: 14px;
  p {
    display: inline-block;
    line-height: 0px;
  }
  a {
    text-decoration: underline;
  }
}

.buttonbar {
  display: block;
  a {
    color: #fff;
    font-size: 13px;
  }
  img {
    vertical-align: middle;
    padding-bottom: 3px;
  }
}

.button {
  height: 10px;
  padding: 6px 15px;
  display: inline;
  margin-right: 5px;
}

#bgrey {
  background-color: $grey;
  &:hover {
    background: $darkgrey;
  }
}

#bblue {
  background-color: $blue;
  &:hover {
    background: $navy;
  }
}
