@media only screen and (max-width: 1024px) {
  header {
    height: 450px;
  }

  .overlay {
    height: 450px;
  }

  #title {
    font-size: 76px;
  }

  #subtitle {
    font-size: 20px;
    top: 22%;
  }

  .maincontent {
    width: 100%;
    display: block;
  }

  .sidebar {
    width: 100%;
    margin-left: 0%;
    margin-top: 7.5%;
    vertical-align: top;
    display: block;
  }

  .sidecircle {
    @include circle(100px);
    img {
      @include circle(100px);
    }
  }

  .ad {
    width: 48%;
    margin-top: 6%;
    display: inline-block;
  }

  .sidephoto {
    width: 100%;
    margin-top: 0;
  }

  .side-text {
    display: inline-block;
    width: 48%;
    margin-top: 6.5%;
    vertical-align: top;
    margin-left: 2%;
    h3 {
      margin-top: 0;
    }
  }

  .popular {
    height: 100%;
    h1 {
      margin-top: 10%;
    }
  }

  .photogrid {
    height: 600px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .photo-row1, .photo-row2 {
    width: 100%;
    height: 48%;
    margin: 0 auto;
    display: block;
    display: flex;
    justify-content: space-between;
  }

  .postphoto {
    float: none;
    margin: auto;
    width: 48%;
    height: 100%;
  }

  footer {
    margin-top: 2%;
    .footnav {
      margin-right: 7%;
    }
    .TIY {
      margin-left: 4%;
    }
  }
}

@media only screen and (max-width: 900px) {
  header {
    height: 335px;
  }

  .overlay {
    height: 335px;
  }

  #title {
    font-size: 68px;
    top: 22%;
  }

  #subtitle {
    font-size: 21px;
    top: 19%;
  }

  .author {
    width: 18%;
  }

  footer {
    margin-top: 6.5%;
    height: 200px;
    padding-top: 2%;
    text-align: center;
    font-size: 15px;
    .footnav {
      float: none;
      margin: auto;
      margin-top: 2%;
    }
    .TIY {
      padding: 0;
      img {
        display: block;
        margin: auto;
        height: 70px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 215px;
  }

  .overlay {
    height: 215px;
  }

  nav {
    width: 85%;
    height: 50%;
    text-align: center;
    #search-bar {
      display: block;
      height: 35%;
    }
    #logo-bar {
      float: none;
      display: block;
      height: 50%;
    }
    #wave-logo {
      width: 55px;
    }
    #logo-name {
      display: none;
    }
  }

  #title {
    font-size: 46px;
    top: -6%;
    left: 0;
  }

  #subtitle {
    top: -9%;
    left: -1px;
  }

  .content {
    width: 87%;
    margin-top: 12%;
  }

  .maincontent {
    h1 {
      line-height: 82px;
      font-size: 69px;
    }

    .author, .date p{
      display: none;
    }
  }

  .sidebar {
    margin-top: 12.5%;
    h1 {
      font-size: 26px;
    }
    h2 {
      font-size: 20px;
    }
    h3, p, {
      display: none;
    }
  }

  .ad {
    margin-top: 12.5%;
    width: 100%;
  }

  .sidephoto {
    width: 100%;
    height: 350px;
    margin: auto;
    background-image: url(http://fillmurray.com/350/400);
  }

  .popular {
    h1 {
      margin-top: 12.5%;
      font-size: 50px;
      line-height: 35px;
    }
  }

  .photogrid {
    height: 1000px;
    width: 87%;
    .photo-row1 {
      flex-direction: column;
      height: 67%;
    }
    .photo-row2 {
      height: 32%;
    }
    .postphoto {
      height: 315px;
      width: 100%;
    }
    h5 {
      font-size: 36px;
      top: 37%;
      left: 3%;
      color: white;
    }
    #last {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .content {
    margin-bottom: 11.5%;
  }

  .sidecircle {
    @include circle(135px);
    img {
      @include circle(135px);
    }
  }

  .buttonbar {
    img {
      width: 55px;
    margin-right: 2%;
    }
    .button {
      display: none;
    }
  }

  .sidebar {
    margin-top: 26.5%;
  }

  .ad {
    margin-top: 24%;
  }

  .popular h1 {
    margin-top: 20%;
  }

  footer {
    margin-top: 22.5%;
    height: 335px;
    padding-top: 6%;
    text-align: center;
    font-size: 20px;
    .TIY img {
        display: block;
        margin: auto;
        height: 110px;
    }
  }
}

@media only screen and (max-width: 450px) {
  #title {
    font-size: 33px;
    top: 2%;
  }
  
  #subtitle {
    display: none;
  }
}
