body {
  margin: 0;
  padding: 0;
  font-family: 'Noto sans',sans-serif; }

a {
  color: #D3D3D3; }

p {
  line-height: 24px; }

.content {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%; }

header {
  height: 525px;
  width: 100%;
  background-image: url(https://wizardofspa.files.wordpress.com/2013/04/awesomely-ocean-waves.jpg); }

.overlay {
  z-index: 1;
  background: rgba(20, 111, 179, 0.8);
  height: 525px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute; }

nav {
  color: #04314F;
  height: 10%;
  font-size: 18px;
  padding-top: 16px;
  width: 82%;
  margin-left: 9%;
  text-align: right; }

nav ul {
  vertical-align: middle;
  height: 100%;
  margin: 0;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  list-style-type: none; }

nav li {
  display: inline-block;
  margin-left: 12px;
  transition: all .2s ease-in-out; }

nav li:hover {
  transform: scale(1.1);
  padding: 10px; }

nav #logo {
  vertical-align: middle;
  height: 100%;
  display: inline;
  float: left;
  transition: all .2s ease-in-out; }

nav #logo:hover {
  transform: scale(1.1); }

#wavelogo {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle; }

#wavelogo img {
  width: 100%; }

#searchbar img {
  margin-left: -6px;
  padding-left: 0;
  height: 16px; }

#title {
  position: relative;
  top: 24%;
  left: 0;
  width: 100%;
  margin: auto;
  font-size: 100px;
  color: #FFF;
  opacity: 1;
  text-align: center;
  transition: all .2s ease-in-out; }

#title:hover {
  transform: scale(1.1); }

#subtitle {
  position: relative;
  top: 21%;
  left: -8px;
  width: 100%;
  margin: auto;
  font-size: 15px;
  color: #04314F;
  opacity: 1;
  text-align: center; }

.maincontent {
  width: 62%;
  display: inline-block; }

.maincontent h1 {
  line-height: 72px;
  font-family: "Oswald", sans-serif;
  font-size: 66px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #04314F; }

.maincontent h3 {
  color: #146FB3;
  padding: 4px;
  margin: 0 0 10px;
  font-size: 14px;
  display: inline-block; }

.maincontent h2 {
  transition: all .2s ease-in-out;
  color: #146FB3;
  border-left: #D3D3D3 solid 2px;
  padding: 10px;
  margin: 5px;
  font-size: 25px; }

.maincontent h2:hover {
  transform: scale(1.1); }

.author {
  display: inline-block;
  width: 20%; }

.photoicon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
  background-color: #146FB3; }

.photoicon img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block; }

.photoicon img:hover {
  opacity: .5; }

.date {
  display: inline-block;
  color: #D3D3D3;
  font-size: 14px; }

.buttonbar {
  display: block; }

.buttonbar a {
  text-decoration: none;
  color: #fff;
  font-size: 13px; }

.buttonbar img {
  vertical-align: middle;
  padding-bottom: 3px; }

.button {
  height: 10px;
  padding: 6px 15px;
  display: inline;
  margin-right: 5px; }

#bgrey {
  background-color: #D3D3D3; }

#bgrey:hover {
  background: #5E696F; }

#bblue {
  background-color: #146FB3; }

#bblue:hover {
  background: #04314F; }

.sidebar {
  vertical-align: top;
  display: inline-block;
  width: 27.5%;
  margin-left: 7.5%;
  margin-top: 1.5%; }

.sidebar h1 {
  color: #146FB3;
  font-size: 18px;
  margin: auto;
  text-align: center;
  margin-top: 15px; }

.sidebar h2 {
  text-align: center;
  border: 0;
  padding: 0;
  margin: 0;
  color: #D3D3D3;
  font-size: 14px; }

.sidebar h4 {
  display: inline-block;
  text-align: right;
  margin-top: 5px;
  font-size: 14px; }

.sidebar h3 {
  color: #146FB3;
  font-family: "Oswald", sans-serif;
  margin-bottom: 8px;
  margin-top: 40px;
  font-size: 18px; }

.sidebar p {
  margin: 0;
  color: #D3D3D3;
  font-size: 14px;
  line-height: 24px; }

.sidecircle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: auto;
  background-color: #146FB3; }

.sidecircle img {
  width: 80px;
  height: 80px;
  border-radius: 100%; }

.sidecircle img:hover {
  opacity: .5; }

.sidephoto {
  margin-top: 50px;
  height: 300px;
  width: 100%;
  background-color: #146FB3;
  overflow: hidden; }

.sidephoto img {
  opacity: .5;
  transition: all .25s ease-in-out; }

.sidephoto img:hover {
  opacity: 1; }

.popular {
  display: block;
  text-align: center;
  height: 140px;
  border-top: 1px solid #D3D3D3; }

.popular h1 {
  transition: all .2s ease-in-out;
  line-height: 32px;
  font-family: "Oswald", sans-serif;
  font-size: 66px;
  color: #04314F; }

.popular h1:hover {
  transform: scale(1.1); }

.photogrid {
  height: 300px;
  width: 100%; }

.photogrid ul {
  list-style-type: none;
  padding: 0; }

.photo-row {
  display: inline; }

.postphoto {
  float: left;
  background-color: #146FB3;
  width: 25%;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-image: url("http://fillmurray.com/350/350"); }

.postphoto .blue-tint {
  height: 100%;
  width: 100%;
  background: rgba(20, 111, 179, 0.8);
  transition: all .5s ease-in-out; }

.postphoto div {
  transition: all .5s ease-in-out; }

.postphoto h5 {
  font-size: 27px;
  font-family: "Oswald", sans-serif;
  color: #04314F;
  position: absolute;
  left: 0;
  top: 52%;
  padding: 10px;
  width: 300px;
  transition: all .5s ease-in-out; }

.postphoto:hover .blue-tint {
  opacity: 0; }

.postphoto:hover h5 {
  color: #FFF; }

footer {
  color: #D3D3D3;
  font-size: 14px;
  background-color: #04314F;
  width: 100%;
  height: 100px; }

.TIY {
  padding-top: 1.5%;
  display: inline-block;
  margin-left: 10%; }

.TIY img {
  height: 67px;
  vertical-align: middle;
  transition: all .2s ease-in-out; }

.TIY img:hover {
  transform: scale(1.1);
  padding-right: 10px; }

.footnav {
  float: right;
  margin-top: 2%;
  margin-right: 13%; }

.footnav ul {
  display: inline-block; }

.footnav li {
  display: inline-block;
  transition: all .2s ease-in-out; }

.footnav li:hover {
  transform: scale(1.1);
  padding: 0 10px; }

.footnav a {
  text-decoration: none; }

.footnav li:nth-child(n+2):before {
  content: "| "; }

@media only screen and (max-width: 1024px) {
  header {
    height: 450px; }
  .overlay {
    height: 450px; }
  #title {
    font-size: 76px; }
  #subtitle {
    font-size: 20px;
    top: 22%; }
  .maincontent {
    width: 100%;
    display: block; }
  .sidebar {
    width: 100%;
    margin-left: 0%;
    margin-top: 7.5%;
    vertical-align: top;
    display: block; }
  .sidecircle {
    width: 100px;
    height: 100px;
    border-radius: 100%; }
  .sidecircle img {
    width: 100px;
    height: 100px;
    border-radius: 100%; }
  .ad {
    width: 50%;
    display: inline-block; }
  .sidephoto {
    width: 300px; }
  .side-text {
    display: inline-block;
    width: 45%;
    margin-top: 1%;
    vertical-align: top; }
  .popular {
    height: 100%; }
  .popular h1 {
    margin-top: 10%; }
  .photogrid {
    height: 600px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .photo-row {
    width: 100%;
    height: 48%;
    margin: 0 auto;
    display: block;
    display: flex;
    justify-content: space-between; }
  .postphoto {
    float: none;
    margin: auto;
    width: 48%;
    height: 100%; }
  footer {
    margin-top: 2%; }
  .TIY {
    margin-left: 4%; } }

@media only screen and (max-width: 768px) {
  .sidebar h3, .sidebar p {
    display: none; }
  .ad {
    margin-top: 5%;
    width: 100%; }
  .sidephoto {
    margin: auto; } }
