header {
  height: 215px;
}

.overlay {
  z-index: 1;
  background: rgba(16,109,179,0.8);
  height: 215px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.maincontent {
  width: 100%;
  padding-left: 8%;
  padding-bottom: 5%;
}

.button {
  height: 0;
  padding: 0;
}

nav {
  text-align: center;
}

#logo,.sidebar h3,.sidebar p {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

#title {
  font-size: 42px;
}

#subtitle {
  font-size: 19px;
}

.photogrid li {
  display: block;
}

.sidebar {
  width: 100%;
}

.popular {
  height: 106px;
}

.popular h1 {
  line-height: 81px;
  font-size: 41px;
}
